In [1]:
# here you will find the first dataset i downloaded which was okaz but contains only 11 companies

import pandas as pd

df = pd.read_csv("Financial Statements.csv")
df.head()

,Year,Company,Category,Market Cap(in B USD),Revenue,Gross Profit,Net Income,Earning Per Share,EBITDA,Share Holder Equity,...,Current Ratio,Debt/Equity Ratio,ROE,ROA,ROI,Net Profit Margin,Free Cash Flow per Share,Return on Tangible Equity,Number of Employees,Inflation Rate(in US)
0,2022,AAPL,IT,2066.94,394328.0,170782.0,99803.0,6.11,130541.0,50672.0,...,0.8794,2.3695,196.9589,28.2924,66.6994,25.3096,1.3146,196.9589,164000,8.0028
1,2021,AAPL,IT,2913.28,365817.0,152836.0,94680.0,5.61,120233.0,63090.0,...,1.0746,1.9768,150.0713,26.9742,54.9839,25.8818,1.3261,150.0713,154000,4.6979
2,2020,AAPL,IT,2255.97,274515.0,104956.0,57411.0,3.28,77344.0,65339.0,...,1.3636,1.7208,87.8664,17.7256,35.0054,20.9136,1.0183,87.8664,147000,1.2336
3,2019,AAPL,IT,1304.76,260174.0,98392.0,55256.0,2.97,76477.0,90488.0,...,1.5401,1.1940,61.0645,16.3230,30.3113,21.2381,-0.0388,61.0645,137000,1.8122
4,2018,AAPL,IT,748.54,265595.0,101839.0,59531.0,2.98,81801.0,107147.0,...,1.1329,1.0685,55.5601,16.2775,29.6348,22.4142,0.7414,55.5601,132000,2.4426

In [2]:
import pandas as pd

df = pd.read_csv("Financial Statements.csv")
df.head()

,Year,Company,Category,Market Cap(in B USD),Revenue,Gross Profit,Net Income,Earning Per Share,EBITDA,Share Holder Equity,...,Current Ratio,Debt/Equity Ratio,ROE,ROA,ROI,Net Profit Margin,Free Cash Flow per Share,Return on Tangible Equity,Number of Employees,Inflation Rate(in US)
0,2022,AAPL,IT,2066.94,394328.0,170782.0,99803.0,6.11,130541.0,50672.0,...,0.8794,2.3695,196.9589,28.2924,66.6994,25.3096,1.3146,196.9589,164000,8.0028
1,2021,AAPL,IT,2913.28,365817.0,152836.0,94680.0,5.61,120233.0,63090.0,...,1.0746,1.9768,150.0713,26.9742,54.9839,25.8818,1.3261,150.0713,154000,4.6979
2,2020,AAPL,IT,2255.97,274515.0,104956.0,57411.0,3.28,77344.0,65339.0,...,1.3636,1.7208,87.8664,17.7256,35.0054,20.9136,1.0183,87.8664,147000,1.2336
3,2019,AAPL,IT,1304.76,260174.0,98392.0,55256.0,2.97,76477.0,90488.0,...,1.5401,1.1940,61.0645,16.3230,30.3113,21.2381,-0.0388,61.0645,137000,1.8122
4,2018,AAPL,IT,748.54,265595.0,101839.0,59531.0,2.98,81801.0,107147.0,...,1.1329,1.0685,55.5601,16.2775,29.6348,22.4142,0.7414,55.5601,132000,2.4426

In [3]:

df = df.drop_duplicates()

df["Company"] = df["Company"].astype(str).str.strip()
df["Category"] = df["Category"].astype(str).str.title()

df["Year"] = pd.to_numeric(df["Year"], errors="coerce")
df["Revenue"] = pd.to_numeric(df["Revenue"], errors="coerce")

KeyError: 'Company'

In [4]:
df.columns

Index(['Year', 'Company ', 'Category', 'Market Cap(in B USD)', 'Revenue',
       'Gross Profit', 'Net Income', 'Earning Per Share', 'EBITDA',
       'Share Holder Equity', 'Cash Flow from Operating',
       'Cash Flow from Investing', 'Cash Flow from Financial Activities',
       'Current Ratio', 'Debt/Equity Ratio', 'ROE', 'ROA', 'ROI',
       'Net Profit Margin', 'Free Cash Flow per Share',
       'Return on Tangible Equity', 'Number of Employees',
       'Inflation Rate(in US)'],
      dtype='object')

In [5]:
df = df.rename(columns={"Company ": "Company"})

In [6]:

df = df.rename(columns={"Company ": "Company"})
df = df.drop_duplicates()

df["Company"] = df["Company"].astype(str).str.strip()
df["Category"] = df["Category"].astype(str).str.title()

df["Year"] = pd.to_numeric(df["Year"], errors="coerce")
df["Revenue"] = pd.to_numeric(df["Revenue"], errors="coerce")

In [7]:
years = sorted(df["Year"].dropna().unique())
years[-5:]

[np.int64(2019),
 np.int64(2020),
 np.int64(2021),
 np.int64(2022),
 np.int64(2023)]

In [8]:
last3 = [2021, 2022, 2023]
df_last3 = df[df["Year"].isin(last3)]
df_last3.head()

,Year,Company,Category,Market Cap(in B USD),Revenue,Gross Profit,Net Income,Earning Per Share,EBITDA,Share Holder Equity,...,Current Ratio,Debt/Equity Ratio,ROE,ROA,ROI,Net Profit Margin,Free Cash Flow per Share,Return on Tangible Equity,Number of Employees,Inflation Rate(in US)
0,2022,AAPL,It,2066.94,394328.0,170782.0,99803.0,6.11,130541.0,50672.0,...,0.8794,2.3695,196.9589,28.2924,66.6994,25.3096,1.3146,196.9589,164000,8.0028
1,2021,AAPL,It,2913.28,365817.0,152836.0,94680.0,5.61,120233.0,63090.0,...,1.0746,1.9768,150.0713,26.9742,54.9839,25.8818,1.3261,150.0713,154000,4.6979
14,2023,MSFT,It,2451.23,211915.0,146052.0,72361.0,9.68,102384.0,206223.0,...,1.7692,0.2291,35.0887,17.5644,29.1528,34.1462,-0.6808,56.1064,221000,3.7000
15,2022,MSFT,It,1787.73,198270.0,135620.0,72738.0,9.65,97843.0,166542.0,...,1.7846,0.2989,43.6755,19.9370,34.0575,36.6863,1.2643,82.9207,221000,8.0028
16,2021,MSFT,It,2525.08,168088.0,115856.0,61271.0,8.05,81602.0,141988.0,...,2.0800,0.4095,43.1522,18.3568,31.9017,36.4517,1.4887,72.5298,181000,4.6979

In [9]:
rev = df_last3.pivot_table(
    index=["Company", "Category"],
    columns="Year",
    values="Revenue",
    aggfunc="first"
).reset_index()

# Clean column names
rev.columns = ["company", "industry", "rev_2021", "rev_2022", "rev_2023"]

rev.head()

  company industry   rev_2021   rev_2022  rev_2023
0    AAPL       It  365817.00  394328.00       NaN
1     AIG     Bank   52057.00   56437.00       NaN
2    AMZN     Logi  469822.00  513983.00       NaN
3     BCS     Bank   30169.69   30868.08       NaN
4    GOOG       It  257637.00  282836.00       NaN

In [10]:
optional_kpis = {
    "Net Income": "net_income",
    "Number of Employees": "employees",
    "Market Cap(in B USD)": "market_cap_b_usd"
}

for original, newname in optional_kpis.items():
    temp = df_last3.pivot_table(
        index="Company",
        columns="Year",
        values=original,
        aggfunc="first"
    )
    temp.columns = [f"{newname}_{y}" for y in temp.columns]
    rev = rev.merge(temp, left_on="company", right_index=True, how="left")

rev.head()

,company,industry,rev_2021,rev_2022,rev_2023,net_income_2021,net_income_2022,net_income_2023,employees_2021,employees_2022,employees_2023,market_cap_b_usd_2021,market_cap_b_usd_2022,market_cap_b_usd_2023
0,AAPL,It,365817.00,394328.00,NaN,94680.000,99803.000,NaN,154000.0,164000.0,NaN,2913.28,2066.94,NaN
1,AIG,Bank,52057.00,56437.00,NaN,9359.000,10247.000,NaN,36600.0,26200.0,NaN,47.21,46.99,NaN
2,AMZN,Logi,469822.00,513983.00,NaN,33364.000,-2722.000,NaN,1608000.0,1541000.0,NaN,1691.00,856.94,NaN
3,BCS,Bank,30169.69,30868.08,NaN,8766.263,6212.949,NaN,81600.0,87400.0,NaN,43.60,32.53,NaN
4,GOOG,It,257637.00,282836.00,NaN,76033.000,59972.000,NaN,156500.0,190234.0,NaN,1910.26,1144.35,NaN

In [11]:
# addingKPIsasrequested:)
kpis = {
    "Net Income": "net_income",
    "Gross Profit": "gross_profit",
    "Number of Employees": "employees",
    "Market Cap(in B USD)": "market_cap_billion_usd"
}

for original, clean in kpis.items():
    temp = df_last3.pivot_table(
        index="Company",
        columns="Year",
        values=original,
        aggfunc="first"
    )
    temp.columns = [f"{clean}_{y}" for y in temp.columns]
    rev = rev.merge(temp, left_on="company_name", right_index=True, how="left")

rev.head()

KeyError: 'company_name'

In [12]:
kpis = {
    "Net Income": "net_income",
    "Gross Profit": "gross_profit",
    "Number of Employees": "employees",
    "Market Cap(in B USD)": "market_cap_billion_usd"
}

for original, clean in kpis.items():
    temp = df_last3.pivot_table(
        index="Company",
        columns="Year",
        values=original,
        aggfunc="first"
    )
    temp.columns = [f"{clean}_{y}" for y in temp.columns]
    rev = rev.merge(temp, left_on="company", right_index=True, how="left")

rev.head()

,company,industry,rev_2021,rev_2022,rev_2023,net_income_2021_x,net_income_2022_x,net_income_2023_x,employees_2021_x,employees_2022_x,...,net_income_2023_y,gross_profit_2021,gross_profit_2022,gross_profit_2023,employees_2021_y,employees_2022_y,employees_2023_y,market_cap_billion_usd_2021,market_cap_billion_usd_2022,market_cap_billion_usd_2023
0,AAPL,It,365817.00,394328.00,NaN,94680.000,99803.000,NaN,154000.0,164000.0,...,NaN,152836.00,170782.00,NaN,154000.0,164000.0,NaN,2913.28,2066.94,NaN
1,AIG,Bank,52057.00,56437.00,NaN,9359.000,10247.000,NaN,36600.0,26200.0,...,NaN,15322.00,20762.00,NaN,36600.0,26200.0,NaN,47.21,46.99,NaN
2,AMZN,Logi,469822.00,513983.00,NaN,33364.000,-2722.000,NaN,1608000.0,1541000.0,...,NaN,197478.00,225152.00,NaN,1608000.0,1541000.0,NaN,1691.00,856.94,NaN
3,BCS,Bank,30169.69,30868.08,NaN,8766.263,6212.949,NaN,81600.0,87400.0,...,NaN,30169.69,30868.08,NaN,81600.0,87400.0,NaN,43.60,32.53,NaN
4,GOOG,It,257637.00,282836.00,NaN,76033.000,59972.000,NaN,156500.0,190234.0,...,NaN,146698.00,156633.00,NaN,156500.0,190234.0,NaN,1910.26,1144.35,NaN

In [13]:
# Remove duplicate suffixes x and y
rev = rev.rename(columns=lambda x: x.replace("_x", "").replace("_y", ""))
rev.head()

,company,industry,rev_2021,rev_2022,rev_2023,net_income_2021,net_income_2022,net_income_2023,employees_2021,employees_2022,...,net_income_2023,gross_profit_2021,gross_profit_2022,gross_profit_2023,employees_2021,employees_2022,employees_2023,market_cap_billion_usd_2021,market_cap_billion_usd_2022,market_cap_billion_usd_2023
0,AAPL,It,365817.00,394328.00,NaN,94680.000,99803.000,NaN,154000.0,164000.0,...,NaN,152836.00,170782.00,NaN,154000.0,164000.0,NaN,2913.28,2066.94,NaN
1,AIG,Bank,52057.00,56437.00,NaN,9359.000,10247.000,NaN,36600.0,26200.0,...,NaN,15322.00,20762.00,NaN,36600.0,26200.0,NaN,47.21,46.99,NaN
2,AMZN,Logi,469822.00,513983.00,NaN,33364.000,-2722.000,NaN,1608000.0,1541000.0,...,NaN,197478.00,225152.00,NaN,1608000.0,1541000.0,NaN,1691.00,856.94,NaN
3,BCS,Bank,30169.69,30868.08,NaN,8766.263,6212.949,NaN,81600.0,87400.0,...,NaN,30169.69,30868.08,NaN,81600.0,87400.0,NaN,43.60,32.53,NaN
4,GOOG,It,257637.00,282836.00,NaN,76033.000,59972.000,NaN,156500.0,190234.0,...,NaN,146698.00,156633.00,NaN,156500.0,190234.0,NaN,1910.26,1144.35,NaN

In [14]:
rev = rev.loc[:, ~rev.columns.duplicated()]
rev.head()

,company,industry,rev_2021,rev_2022,rev_2023,net_income_2021,net_income_2022,net_income_2023,employees_2021,employees_2022,employees_2023,market_cap_b_usd_2021,market_cap_b_usd_2022,market_cap_b_usd_2023,gross_profit_2021,gross_profit_2022,gross_profit_2023,market_cap_billion_usd_2021,market_cap_billion_usd_2022,market_cap_billion_usd_2023
0,AAPL,It,365817.00,394328.00,NaN,94680.000,99803.000,NaN,154000.0,164000.0,NaN,2913.28,2066.94,NaN,152836.00,170782.00,NaN,2913.28,2066.94,NaN
1,AIG,Bank,52057.00,56437.00,NaN,9359.000,10247.000,NaN,36600.0,26200.0,NaN,47.21,46.99,NaN,15322.00,20762.00,NaN,47.21,46.99,NaN
2,AMZN,Logi,469822.00,513983.00,NaN,33364.000,-2722.000,NaN,1608000.0,1541000.0,NaN,1691.00,856.94,NaN,197478.00,225152.00,NaN,1691.00,856.94,NaN
3,BCS,Bank,30169.69,30868.08,NaN,8766.263,6212.949,NaN,81600.0,87400.0,NaN,43.60,32.53,NaN,30169.69,30868.08,NaN,43.60,32.53,NaN
4,GOOG,It,257637.00,282836.00,NaN,76033.000,59972.000,NaN,156500.0,190234.0,NaN,1910.26,1144.35,NaN,146698.00,156633.00,NaN,1910.26,1144.35,NaN

In [15]:
rev["country"] = "Unknown"
rev["revenue_unit"] = "USD"

In [16]:
final_columns = [
    "company",
    "country",
    "industry",
    "rev_2021", "rev_2022", "rev_2023",
    "revenue_unit",
    "net_income_2021", "net_income_2022", "net_income_2023",
    "gross_profit_2021", "gross_profit_2022", "gross_profit_2023",
    "employees_2021", "employees_2022", "employees_2023",
    "market_cap_billion_usd_2021", 
    "market_cap_billion_usd_2022", 
    "market_cap_billion_usd_2023"
]

final = rev[final_columns]
final.head()

,company,country,industry,rev_2021,rev_2022,rev_2023,revenue_unit,net_income_2021,net_income_2022,net_income_2023,gross_profit_2021,gross_profit_2022,gross_profit_2023,employees_2021,employees_2022,employees_2023,market_cap_billion_usd_2021,market_cap_billion_usd_2022,market_cap_billion_usd_2023
0,AAPL,Unknown,It,365817.00,394328.00,NaN,USD,94680.000,99803.000,NaN,152836.00,170782.00,NaN,154000.0,164000.0,NaN,2913.28,2066.94,NaN
1,AIG,Unknown,Bank,52057.00,56437.00,NaN,USD,9359.000,10247.000,NaN,15322.00,20762.00,NaN,36600.0,26200.0,NaN,47.21,46.99,NaN
2,AMZN,Unknown,Logi,469822.00,513983.00,NaN,USD,33364.000,-2722.000,NaN,197478.00,225152.00,NaN,1608000.0,1541000.0,NaN,1691.00,856.94,NaN
3,BCS,Unknown,Bank,30169.69,30868.08,NaN,USD,8766.263,6212.949,NaN,30169.69,30868.08,NaN,81600.0,87400.0,NaN,43.60,32.53,NaN
4,GOOG,Unknown,It,257637.00,282836.00,NaN,USD,76033.000,59972.000,NaN,146698.00,156633.00,NaN,156500.0,190234.0,NaN,1910.26,1144.35,NaN

In [17]:
sorted(final["company"].unique().tolist())[:50]

['AAPL',
 'AIG',
 'AMZN',
 'BCS',
 'GOOG',
 'INTC',
 'MCD',
 'MSFT',
 'NVDA',
 'PCG',
 'PYPL']

In [18]:
country_lookup = {
    "AAPL": "USA",
    "AIG": "USA",
    "AMZN": "USA",
    "BCS": "UK",
    "GOOG": "USA",
    "INTC": "USA",
    "MCD": "USA",
    "MSFT": "USA",
    "NVDA": "USA",
    "PCG": "USA",
    "PYPL": "USA",
}

In [19]:
sorted(final["company"].unique().tolist())

['AAPL',
 'AIG',
 'AMZN',
 'BCS',
 'GOOG',
 'INTC',
 'MCD',
 'MSFT',
 'NVDA',
 'PCG',
 'PYPL']

In [20]:
final["country"] = final["company"].map(country_lookup).fillna("Unknown")

/var/folders/1p/yyv_wlk96tb6vs36fblhx81h0000gn/T/ipykernel_7383/152935513.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final["country"] = final["company"].map(country_lookup).fillna("Unknown")

In [21]:
final.loc[:, "country"] = final["company"].map(country_lookup).fillna("Unknown")

In [22]:
final[["company", "country"]].head(15)

   company country
0     AAPL     USA
1      AIG     USA
2     AMZN     USA
3      BCS      UK
4     GOOG     USA
5     INTC     USA
6      MCD     USA
7     MSFT     USA
8     NVDA     USA
9      PCG     USA
10    PYPL     USA

In [23]:
final = final.head(300)
final.shape

(11, 19)

In [24]:
df = pd.read_csv("forbes_2000.csv")  
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'forbes_2000.csv'

In [25]:
df = pd.read_csv("aroissues-forbes-global-2000-2008-2019.csv")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'aroissues-forbes-global-2000-2008-2019.csv'

In [26]:
import pandas as pd

df = pd.read_excel("/mnt/data/30948345-dcf3-455f-8be6-29fc17a3246c.xlsx")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: '/mnt/data/30948345-dcf3-455f-8be6-29fc17a3246c.xlsx'

In [27]:
!ls ~/Downloads

1KOMMA5_NoureldinEbid_MotivationLetter.pdf
1Y51cYCMwv.pdf
4flow.pdf
57DD5CA2-6CE3-4D49-A23D-DA111C91577D 2.jpg
57DD5CA2-6CE3-4D49-A23D-DA111C91577D.PNG
57DD5CA2-6CE3-4D49-A23D-DA111C91577D.jpg
8mylez.pdf
A+.pdf
ADASI.pdf
ARVIL GROUP-REVIT.ppt
ATS_Friendly_Technical_Resume.pdf
Academic_Status_Statement_Noureldin_Ebid.pdf
Anschreiben _JYSK.pages
Anschreiben und abzugebende Unterlagen.pdf
Anschreiben_JYSK_NoureldinEbid.docx
Anschreiben_JYSK_NoureldinEbid.pdf
Anschreiben_JYSK_NoureldinEbid_Final.pdf
Anschreiben_JYSK_NoureldinEbid_Longer.pdf
Application form Tub.pdf
Audio B1.rar
Batool Wael 01022055517.pptx
Bewerbung_NourEbid_NORMA.docx
Bewerbung_NourEbid_NORMA.pdf
Bewerbung_NourEbid_NORMA_Lang.pdf
Birth Certificate.pdf
CV - Noureldin Ebid-2.pdf
CV - Noureldin Ebid-3.pdf
CV - Noureldin Ebid-4.pdf
CV - Noureldin Ebid-5.pdf
CV - Noureldin Ebid-6.pdf
CV - Noureldin Ebid.pdf
DXresult.pdf
Design.pdf
Document.pdf
E3fa.pdf
Efr.pdf
Ehrig Anschreiben.pdf
Enrollment latest.pdf
FAANGPath_Simple_Template-2.pdf
FAANGPath_Simple_Template-3.pdf
FAANGPath_Simple_Template-4.pdf
FAANGPath_Simple_Template.pdf
Final bachelor graduation certificate 2.pdf
Final bachelor graduation certificate.pdf
Finaltranscript.pdf
GIUB_20251_64_18216_2024-12-24T12_58_32.zip
GIU_Bachelor_thesis-2.pdf
GIU_Bachelor_thesis-3.pdf
GIU_Bachelor_thesis-4.pdf
GIU_Bachelor_thesis.pdf
GUC_312_64_46298_2024-09-09T17_49_41.pdf
Gigs_Cover_Letter.pdf
Grades.pdf
Grey Clean CV Resume Photo.pdf
Guided Memory Optimization for GPU-Accelerated Applications.pdf
IMG_0875.jpg
IMG_1720.HEIC
IMG_2238.HEIC
IMG_3070.HEIC
IMG_4131.heic
IMG_4250.jpg
IMG_7291.HEIC
IMG_8990.heic
IMG_9404.JPG
IMG_9938.HEIC
IMG_9955.HEIC
IPTVSmartersPro-1.1.1 2.dmg
IPTVSmartersPro-1.1.1 3.dmg
IPTVSmartersPro-1.1.1 4.dmg
IPTVSmartersPro-1.1.1 5.dmg
IPTVSmartersPro-1.1.1 6.dmg
IPTVSmartersPro-1.1.1 7.dmg
IPTVSmartersPro-1.1.1.dmg
Ielts.pdf
Image.pdf
Information_Datenschutz_20190917.pdf
Latest Cv.pdf
Latest%20Cv.pdf
Lesen & Schreiben B1.pdf
Leseverstehen.pdf
Master‘s application papers.pdf
Menschen B1.1 Kursbuch.pdf
Menschen_B1_2_AB_Audio
Menschen_B1_2_AB_Audio.zip
Menschen_B1_2_KB_Audio
Menschen_B1_2_KB_Audio.zip
Merged_Master_Application.pdf
Microsoft PowerPoint.app
Motivation_Letter_DesktopSupport_EOS.pdf
Motivation_Letter_ExentraRH.pdf
Motivation_Letter_ExentraRH_Clean.pdf
Motivation_Letter_Flix_ITSupport.pdf
Motivation_Letter_Flix_ITSupport_Clean.pdf
Motivation_Letter_Procuros.pdf
Motivation_Letter_Sartorius.pdf
Motivation_Letter_Snke.pdf
Motivationsschreiben_Natuvion_Junior_IT_Admin.pdf
Motivationsschreibenoureldin_Ebid.pdf
Mündlich.pdf
My-cv-Nour-copy-2.pdf
N26_NoureldinEbid_MotivationLetter.pdf
Nour ebid lebenslauf.pdf
Nour residence permit.pdf
Nour-Ebid-FlowCV-Resume-20251018-2.pdf
Nour-Ebid-FlowCV-Resume-20251018-3.pdf
Nour-Ebid-FlowCV-Resume-20251018.pdf
NourAnwarEbid.pdf
NourEbid_CV_Deutsch.pdf
NourEbid_CV_Lyceum-2.pdf
NourEbid_CV_Lyceum.pdf
NourEbid_CV_Trading.pdf
NourEbid_Lebenslauf_Updated.pdf
NourEbid_MotivationLetter_OneTutor.pdf
Nour_Ebid_Resume.pdf
Nour_Lebenslauf.pdf
Nour_wgtuk-Split.conf
Nourebid.pdf
Noureldin.Ebid-2.pdf
Noureldin.Ebid-3.pdf
Noureldin.Ebid-4.pdf
Noureldin.Ebid-5.pdf
Noureldin.Ebid-6.pdf
Noureldin.ebid.pdf
NoureldinEbid.pdf
Noureldin_Ebid_N26_Cover_Letter.pdf
Noureldin_Ebid_Resignation_Letter.pdf
Noureldin_Ebid_Resignation_Letter_REWE.pdf
Noureldin_Ebid_Resignation_Letter_REWE_OnePage.pdf
Noureldin__Ebid__-_Software_Engineer-2.pdf
Noureldin__Ebid__-_Software_Engineer-3.pdf
Noureldin__Ebid__-_Software_Engineer.pdf
Noureldinebidd.pdf
O0pZVilba3.pdf
OpenGL2DTemplate
PA 6.pdf
PAVER- Locality Graph-Based Thread Block Scheduling for GPUs.pdf
PathFinder-master
Perfekt.pdf
Postman.app
ProtonVPN_mac_v4.8.0.dmg
SDE_SeifArafa_CV copy.pdf
SRS_Supermarket_System.docx
Sat 1 scores.pdf
Sat 2 scores.pdf
Schnelles_Sprechen_Deutsch_Lang_NourEbid.pptx
Schnelles_Sprechen_Deutsch_NourEbid.pptx
Schreiben B1.pdf
Snke_NoureldinEbid_MotivationLetter.pdf
Sprachbausteine 2.pdf
Sprachbausteine.pdf
Studienbescheinigung Fulda.pdf
TR_EVisa_227883441011.pdf
TU_Direktantrag_Zulassung_ENG_ab_SoSe23_December_23.pdf
Telc B1 Teil 2 مختصر .pdf
Telc b1 Teil 3 مختصر .pdf
Telegram.dmg
Telkk.jpg
Thesis_Presentation_Downloadable.pptx
Thesis_Presentation_Noureldin_Ebid.pptx
Transcript + final cert
Transcript + final cert 2.pdf
Transcript + final cert.pdf
Transcript + final cert.zip
Tut curves 2.mp4
Tut curves.mp4
Untitled 3.pages
VAARHAFT.pdf
VNC-Viewer-7.13.1-MacOSX-universal.dmg
Visual Studio Code.app
VisualStudioSetup.exe
WSA.pdf
WhatsApp Image 2025-03-16 at 9.06.57 PM.jpeg
White and Black Tech Professional Resume.pdf
Zulassungsbescheid.pdf
[Template] Bachelor Thesis GIU Berlin
[Template] Bachelor Thesis GIU Berlin.zip
analysis milestone 2.pages
anschreibenmachineseeker.pdf
anschreibenporsche.pdf
catia.pdf
cityscapesViewer2222.py
cityscapesViewer33.py
combined_result.png
combined_result2.png
combined_result3.png
combined_result4.png
converted_image.png
coverlettrr.pdf
coverrlettter.pdf
d.velop.pdf
datasphere.pdf
deliveryherocl.pdf
digitaleheimat_NoureldinEbid_Motivationsschreiben.pdf
finalbachelortranscript111.pdf
finalforbachelors.pdf
finalisedpresentation2.key
finalisedpresentation2_aligned.key
finalisedthesis2.pdf
finalizedthesis.pdf
finalizedthesispresentation.key
finalthesis.pdf
finalthesis_with_consistent_pagenumbers.pdf
finalthesispresentation.pdf
first resume.pdf
googlechrome.dmg
ilovepdf_merged.pdf
installGitKraken.dmg
inverto.pdf
iptv-smarters-pro-1-1-1.dmg
kitti_segmented_slow.mp4
klkll.png
lec1.pdf
lec10(internet of things 150 slides).pdf
lec6.pdf
lec7.pdf
lec8.pdf
lec9.pdf
letterflixbuss.pdf
ll.pdf
loss_curve.pdf
loss_curve_clean_cropped.png
loss_curve_cleaned.png
loss_curve_zigzag_only.png
loss_function_slide.png
m4Me1l7L78.pdf
main.cpp
metabuild.pdf
new_training_loss_curve.png
nexmart.pdf
norcvv2.pdf
nourEbidResume.pdf
nourcvv1.pdf
noureldin ebid.pdf
noureldin_Ebid.pdf
noureldin_cv.pdf
noureldinnebid.pdf
nourlebenslaufT.pdf
nourriebid.pdf
onetutor.pdf
output-2.png
output-3.png
output.png
patronus.pdf
pdf2.pdf
presentationthesisfnl.pdf
rustdesk-1.3.9-x86_64.dmg
rustdesk-1.4.0-aarch64.dmg
rustdesk-1.4.0-x86_64.dmg
semester 7
shopify.pdf
snke.pdf
srs_template-ieee.pdf
task1,2submission.pdf
telc b1 - schreiben.pdf
televic.pdf
temp_image_E42394A2-7048-43B2-BB2D-C93BD0BF9584.WEBP
validation_iou_plot.png
validation_performance_table.png
validation_performance_table_aligned.png
visual_results.mp4
visual_results_corrected.mp4
weareera.pdf
youssef_salem_resume.pdf
zalando.pdf
أساسيات اللغة الألمانية للمبتدئين .pdf

In [28]:
import pandas as pd

df_forbes = pd.read_excel("~/Desktop/statista_case/Forbes Global 2000 - industry.xlsx")
df_forbes.head()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/nourebid/Desktop/statista_case/Forbes Global 2000 - industry.xlsx'

In [29]:
!ls "~/Desktop/statista_case"

ls: ~/Desktop/statista_case: No such file or directory

In [30]:
import pandas as pd

df_forbes = pd.read_excel("Forbes Global 2000 - 2010 — unified industry.xlsx")
df_forbes.head()

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [31]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     |████████████████████████████████| 250 kB 3.3 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
WARNING: You are using pip version 21.2.4; however, version 25.3 is available.
You should consider upgrading via the '/Users/nourebid/Desktop/statista_case/venv/bin/python3 -m pip install --upgrade pip' command.

In [32]:
df_forbes = pd.read_excel("Forbes Global 2000 - 2010 — unified industry.xlsx")
df_forbes.head()

,Rank_nr,Company,Industry,Country,Sales,Profits,Assets,Market_Value
0,1,JPMorgan Chase,Banking,United States,115630.0,11650.0,2031990.0,166190.0
1,2,General Electric,Conglomerates,United States,156780.0,11030.0,781820.0,169650.0
2,3,Bank of America,Banking,United States,150450.0,6280.0,2223300.0,167630.0
3,4,ExxonMobil,Oil & Gas Operations,United States,275560.0,19280.0,233320.0,308770.0
4,5,ICBC,Banking,China,71860.0,16270.0,1428460.0,242230.0

In [33]:
df_forbes.columns = df_forbes.columns.str.strip().str.lower().str.replace(" ", "_")

df_forbes.head()

,rank_nr,company,industry,country,sales,profits,assets,market_value
0,1,JPMorgan Chase,Banking,United States,115630.0,11650.0,2031990.0,166190.0
1,2,General Electric,Conglomerates,United States,156780.0,11030.0,781820.0,169650.0
2,3,Bank of America,Banking,United States,150450.0,6280.0,2223300.0,167630.0
3,4,ExxonMobil,Oil & Gas Operations,United States,275560.0,19280.0,233320.0,308770.0
4,5,ICBC,Banking,China,71860.0,16270.0,1428460.0,242230.0

In [34]:
df_forbes = df_forbes.rename(columns={
    "sales": "rev_2023",
    "profits": "net_income_2023",
    "market_value": "market_cap_billion_usd_2023"
})

df_forbes["revenue_unit"] = "USD"

In [35]:
combined = pd.concat([final, df_forbes], ignore_index=True, sort=False)
combined.shape

(2011, 21)

In [36]:
combined = combined.head(300)
combined.shape

(300, 21)

In [37]:
combined.columns

Index(['company', 'country', 'industry', 'rev_2021', 'rev_2022', 'rev_2023',
       'revenue_unit', 'net_income_2021', 'net_income_2022', 'net_income_2023',
       'gross_profit_2021', 'gross_profit_2022', 'gross_profit_2023',
       'employees_2021', 'employees_2022', 'employees_2023',
       'market_cap_billion_usd_2021', 'market_cap_billion_usd_2022',
       'market_cap_billion_usd_2023', 'rank_nr', 'assets'],
      dtype='object')

In [38]:
combined = combined[
    [
        "company", "country", "industry",
        "rev_2021", "rev_2022", "rev_2023",
        "revenue_unit",
        "net_income_2021", "net_income_2022", "net_income_2023",
        "gross_profit_2021", "gross_profit_2022", "gross_profit_2023",
        "employees_2021", "employees_2022", "employees_2023",
        "market_cap_billion_usd_2021", "market_cap_billion_usd_2022", "market_cap_billion_usd_2023",
        "assets", "rank_nr"
    ]
]

# adding revenue unit 
combined["revenue_unit"] = combined["revenue_unit"].fillna("USD")

combined.head()

,company,country,industry,rev_2021,rev_2022,rev_2023,revenue_unit,net_income_2021,net_income_2022,net_income_2023,...,gross_profit_2022,gross_profit_2023,employees_2021,employees_2022,employees_2023,market_cap_billion_usd_2021,market_cap_billion_usd_2022,market_cap_billion_usd_2023,assets,rank_nr
0,AAPL,USA,It,365817.00,394328.00,NaN,USD,94680.000,99803.000,NaN,...,170782.00,NaN,154000.0,164000.0,NaN,2913.28,2066.94,NaN,NaN,NaN
1,AIG,USA,Bank,52057.00,56437.00,NaN,USD,9359.000,10247.000,NaN,...,20762.00,NaN,36600.0,26200.0,NaN,47.21,46.99,NaN,NaN,NaN
2,AMZN,USA,Logi,469822.00,513983.00,NaN,USD,33364.000,-2722.000,NaN,...,225152.00,NaN,1608000.0,1541000.0,NaN,1691.00,856.94,NaN,NaN,NaN
3,BCS,UK,Bank,30169.69,30868.08,NaN,USD,8766.263,6212.949,NaN,...,30868.08,NaN,81600.0,87400.0,NaN,43.60,32.53,NaN,NaN,NaN
4,GOOG,USA,It,257637.00,282836.00,NaN,USD,76033.000,59972.000,NaN,...,156633.00,NaN,156500.0,190234.0,NaN,1910.26,1144.35,NaN,NaN,NaN

In [39]:

ticker_lookup = (
    df[['Company ', 'Ticker']]
    .dropna()
    .drop_duplicates()
    .set_index('Ticker')['Company ']
    .to_dict()
)

ticker_lookup

KeyError: "None of [Index(['Company ', 'Ticker'], dtype='object')] are in the [columns]"

In [40]:
df.columns

Index(['Year', 'Company', 'Category', 'Market Cap(in B USD)', 'Revenue',
       'Gross Profit', 'Net Income', 'Earning Per Share', 'EBITDA',
       'Share Holder Equity', 'Cash Flow from Operating',
       'Cash Flow from Investing', 'Cash Flow from Financial Activities',
       'Current Ratio', 'Debt/Equity Ratio', 'ROE', 'ROA', 'ROI',
       'Net Profit Margin', 'Free Cash Flow per Share',
       'Return on Tangible Equity', 'Number of Employees',
       'Inflation Rate(in US)'],
      dtype='object')

In [41]:
['AAPL','AIG','AMZN','BCS','GOOG','INTC','MCD','MSFT','NVDA','PCG','PYPL']

['AAPL',
 'AIG',
 'AMZN',
 'BCS',
 'GOOG',
 'INTC',
 'MCD',
 'MSFT',
 'NVDA',
 'PCG',
 'PYPL']

In [42]:
ticker_to_name = {
    "AAPL": "Apple Inc",
    "AMZN": "Amazon.com Inc",
    "GOOG": "Alphabet Inc",
    "MSFT": "Microsoft Corp",
    "NVDA": "NVIDIA Corp",
    "INTC": "Intel Corp",
    "PYPL": "PayPal Holdings",
    "MCD": "McDonald's Corp",
    "AIG": "American International Group",
    "BCS": "Barclays PLC",
    "PCG": "PG&E Corp"
}

In [43]:
combined["company_full"] = combined["company"].map(ticker_to_name)

In [44]:
ticker_to_name = {
    "AAPL": "Apple Inc",
    "AMZN": "Amazon.com Inc",
    "GOOG": "Alphabet Inc",
    "MSFT": "Microsoft Corp",
    "NVDA": "NVIDIA Corp",
    "INTC": "Intel Corp",
    "PYPL": "PayPal Holdings",
    "MCD": "McDonald's Corp",
    "AIG": "American International Group",
    "BCS": "Barclays PLC",
    "PCG": "PG&E Corp"
}

combined["company_full"] = combined["company"].map(ticker_to_name)

combined = combined.merge(
    df,
    left_on="company_full",
    right_on="Company",
    how="left"
)

In [45]:
df['Company'].unique()[:30]

array(['AAPL', 'MSFT', 'GOOG', 'PYPL', 'AIG', 'PCG', 'SHLDQ', 'MCD',
       'BCS', 'NVDA', 'INTC', 'AMZN'], dtype=object)

In [46]:
ticker_to_name = {
    "AAPL": "Apple Inc",
    "MSFT": "Microsoft Corporation",
    "GOOG": "Alphabet Inc",
    "PYPL": "PayPal Holdings Inc",
    "AIG": "American International Group",
    "PCG": "PG&E Corporation",
    "SHLDQ": "Sears Holdings",
    "MCD": "McDonald's Corporation",
    "BCS": "Barclays PLC",
    "NVDA": "NVIDIA Corporation",
    "INTC": "Intel Corporation",
    "AMZN": "Amazon.com Inc"
}

In [47]:
combined["company_full"] = combined["company"].map(ticker_to_name)

In [48]:
combined = combined.merge(
    df,
    left_on="company_full",
    right_on="Company",
    how="left"
)

In [49]:
combined[combined["Company"].isna()][["company","company_full"]]

KeyError: 'Company'

In [50]:
[col for col in combined.columns if "Company" in col]

['Company_x', 'Company_y']

In [51]:
df_forbes.columns.tolist()

['rank_nr',
 'company',
 'industry',
 'country',
 'rev_2023',
 'net_income_2023',
 'assets',
 'market_cap_billion_usd_2023',
 'revenue_unit']

In [52]:
['rank_nr',
 'company',
 'industry',
 'country',
 'rev_2023',
 'net_income_2023',
 'assets',
 'market_cap_billion_usd_2023',
 'revenue_unit']

['rank_nr',
 'company',
 'industry',
 'country',
 'rev_2023',
 'net_income_2023',
 'assets',
 'market_cap_billion_usd_2023',
 'revenue_unit']

In [53]:
import pandas as pd

# Load Forbes dataset
df = pd.read_excel("Forbes Global 2000 - 2010 — unified industry.xlsx")

# Select only the first 300 companies
df = df.head(300)

# Build Statista-style structure
cleaned = pd.DataFrame()

cleaned["company"] = df["company"]
cleaned["country"] = df["country"]
cleaned["industry"] = df["industry"]

# Revenue fields (only 2023 exists → 2021/2022 = NaN)
cleaned["rev_2021"] = None
cleaned["rev_2022"] = None
cleaned["rev_2023"] = df["rev_2023"]

# Ensure revenue_unit exists
cleaned["revenue_unit"] = df["revenue_unit"].fillna("USD")

# Net income fields
cleaned["net_income_2021"] = None
cleaned["net_income_2022"] = None
cleaned["net_income_2023"] = df["net_income_2023"]

# Gross profit is not in Forbes → all NaN
cleaned["gross_profit_2021"] = None
cleaned["gross_profit_2022"] = None
cleaned["gross_profit_2023"] = None

# Employees not provided → all NaN
cleaned["employees_2021"] = None
cleaned["employees_2022"] = None
cleaned["employees_2023"] = None

# Market cap fields
cleaned["market_cap_billion_usd_2021"] = None
cleaned["market_cap_billion_usd_2022"] = None
cleaned["market_cap_billion_usd_2023"] = df["market_cap_billion_usd_2023"]

# Extra KPIs
cleaned["assets"] = df["assets"]
cleaned["rank_nr"] = df["rank_nr"]

cleaned.head()

KeyError: 'company'

In [54]:
import pandas as pd

# Load Forbes dataset
df = pd.read_excel("Forbes Global 2000 - 2010 — unified industry.xlsx")

# Select only the first 300 companies
df = df.head(300)

# Build Statista-style structure
cleaned = pd.DataFrame()

cleaned["company"] = df["Company"]          # <-- FIXED
cleaned["country"] = df["country"]
cleaned["industry"] = df["industry"]

# Revenue fields
cleaned["rev_2021"] = None
cleaned["rev_2022"] = None
cleaned["rev_2023"] = df["rev_2023"]

cleaned["revenue_unit"] = df["revenue_unit"].fillna("USD")

# Net income fields
cleaned["net_income_2021"] = None
cleaned["net_income_2022"] = None
cleaned["net_income_2023"] = df["net_income_2023"]

# Gross profit (not provided)
cleaned["gross_profit_2021"] = None
cleaned["gross_profit_2022"] = None
cleaned["gross_profit_2023"] = None

# Employees (not provided)
cleaned["employees_2021"] = None
cleaned["employees_2022"] = None
cleaned["employees_2023"] = None

# Market cap
cleaned["market_cap_billion_usd_2021"] = None
cleaned["market_cap_billion_usd_2022"] = None
cleaned["market_cap_billion_usd_2023"] = df["market_cap_billion_usd_2023"]

# Extra KPIs
cleaned["assets"] = df["assets"]
cleaned["rank_nr"] = df["rank_nr"]

cleaned.head()

KeyError: 'country'

In [55]:
import pandas as pd

# Load Forbes dataset
df = pd.read_excel("Forbes Global 2000 - 2010 — unified industry.xlsx")

# Select only the first 300 companies
df = df.head(300)

# Build Statista-style structure
cleaned = pd.DataFrame()

cleaned["company"] = df["Company"]
cleaned["country"] = df["Country"]          # FIXED
cleaned["industry"] = df["Industry"]        # FIXED

# Revenue fields
cleaned["rev_2021"] = None
cleaned["rev_2022"] = None
cleaned["rev_2023"] = df["Sales"]           # Sales = revenue in Forbes

cleaned["revenue_unit"] = "USD"

# Net income fields
cleaned["net_income_2021"] = None
cleaned["net_income_2022"] = None
cleaned["net_income_2023"] = df["Profits"]

# Gross profit (not provided)
cleaned["gross_profit_2021"] = None
cleaned["gross_profit_2022"] = None
cleaned["gross_profit_2023"] = None

# Employees (not provided)
cleaned["employees_2021"] = None
cleaned["employees_2022"] = None
cleaned["employees_2023"] = None

# Market cap fields
cleaned["market_cap_billion_usd_2021"] = None
cleaned["market_cap_billion_usd_2022"] = None
cleaned["market_cap_billion_usd_2023"] = df["Market_Value"]

# Extra KPIs
cleaned["assets"] = df["Assets"]
cleaned["rank_nr"] = df["rank_nr"]

cleaned.head()

KeyError: 'rank_nr'

In [56]:
df.columns.tolist()

['Rank_nr',
 'Company',
 'Industry',
 'Country',
 'Sales',
 'Profits',
 'Assets',
 'Market_Value']

In [57]:
import pandas as pd

# Load Forbes dataset
df = pd.read_excel("Forbes Global 2000 - 2010 — unified industry.xlsx")

# Take first 300 companies
df = df.head(300)

# Build  structure
cleaned = pd.DataFrame()

# Basic info
cleaned["company"] = df["Company"]
cleaned["country"] = df["Country"]
cleaned["industry"] = df["Industry"]

# Revenue
cleaned["rev_2021"] = None
cleaned["rev_2022"] = None
cleaned["rev_2023"] = df["Sales"]
cleaned["revenue_unit"] = "USD"

# Net income
cleaned["net_income_2021"] = None
cleaned["net_income_2022"] = None
cleaned["net_income_2023"] = df["Profits"]

# Gross profit (not in Forbes)
cleaned["gross_profit_2021"] = None
cleaned["gross_profit_2022"] = None
cleaned["gross_profit_2023"] = None

# Employees (not in Forbes)
cleaned["employees_2021"] = None
cleaned["employees_2022"] = None
cleaned["employees_2023"] = None

# Market cap
cleaned["market_cap_billion_usd_2021"] = None
cleaned["market_cap_billion_usd_2022"] = None
cleaned["market_cap_billion_usd_2023"] = df["Market_Value"]

#  KPIs
cleaned["assets"] = df["Assets"]
cleaned["rank_nr"] = df["Rank_nr"]

cleaned.head()

,company,country,industry,rev_2021,rev_2022,rev_2023,revenue_unit,net_income_2021,net_income_2022,net_income_2023,...,gross_profit_2022,gross_profit_2023,employees_2021,employees_2022,employees_2023,market_cap_billion_usd_2021,market_cap_billion_usd_2022,market_cap_billion_usd_2023,assets,rank_nr
0,JPMorgan Chase,United States,Banking,None,None,115630.0,USD,None,None,11650.0,...,None,None,None,None,None,None,None,166190.0,2031990.0,1
1,General Electric,United States,Conglomerates,None,None,156780.0,USD,None,None,11030.0,...,None,None,None,None,None,None,None,169650.0,781820.0,2
2,Bank of America,United States,Banking,None,None,150450.0,USD,None,None,6280.0,...,None,None,None,None,None,None,None,167630.0,2223300.0,3
3,ExxonMobil,United States,Oil & Gas Operations,None,None,275560.0,USD,None,None,19280.0,...,None,None,None,None,None,None,None,308770.0,233320.0,4
4,ICBC,China,Banking,None,None,71860.0,USD,None,None,16270.0,...,None,None,None,None,None,None,None,242230.0,1428460.0,5

In [58]:
import pandas as pd

# load the financial statements dataset (the big one with Year, Company, Revenue...)
df_fs = df  # your earlier loaded dataset

# pivot: company → list of years available
availability = (
    df_fs.groupby("Company")["Year"]
         .unique()
         .apply(lambda x: sorted([int(y) for y in x]))
         .reset_index()
)

availability.columns = ["company", "years_available"]
availability

KeyError: 'Column not found: Year'

In [59]:
[{"id":"d8eda832-1f72-4082-97da-427e4957ec94","cell_type":"code","source":"import pandas as pd\n\n# Load Forbes dataset\ndf = pd.read_excel(\"Forbes Global 2000 - 2010 — unified industry.xlsx\")\n\n# Take first 300 companies\ndf = df.head(300)\n\n# Build Statista-style structure\ncleaned = pd.DataFrame()\n\n# Basic info\ncleaned[\"company\"] = df[\"Company\"]\ncleaned[\"country\"] = df[\"Country\"]\ncleaned[\"industry\"] = df[\"Industry\"]\n\n# Revenue\ncleaned[\"rev_2021\"] = None\ncleaned[\"rev_2022\"] = None\ncleaned[\"rev_2023\"] = df[\"Sales\"]\ncleaned[\"revenue_unit\"] = \"USD\"\n\n# Net income\ncleaned[\"net_income_2021\"] = None\ncleaned[\"net_income_2022\"] = None\ncleaned[\"net_income_2023\"] = df[\"Profits\"]\n\n# Gross profit (not in Forbes)\ncleaned[\"gross_profit_2021\"] = None\ncleaned[\"gross_profit_2022\"] = None\ncleaned[\"gross_profit_2023\"] = None\n\n# Employees (not in Forbes)\ncleaned[\"employees_2021\"] = None\ncleaned[\"employees_2022\"] = None\ncleaned[\"employees_2023\"] = None\n\n# Market cap\ncleaned[\"market_cap_billion_usd_2021\"] = None\ncleaned[\"market_cap_billion_usd_2022\"] = None\ncleaned[\"market_cap_billion_usd_2023\"] = df[\"Market_Value\"]\n\n# Extra KPIs\ncleaned[\"assets\"] = df[\"Assets\"]\ncleaned[\"rank_nr\"] = df[\"Rank_nr\"]\n\ncleaned.head()\n","metadata":{"trusted":true},"outputs":[{"execution_count":57,"output_type":"execute_result","data":{"text/plain":"            company        country              industry rev_2021 rev_2022  \\\n0    JPMorgan Chase  United States               Banking     None     None   \n1  General Electric  United States         Conglomerates     None     None   \n2   Bank of America  United States               Banking     None     None   \n3        ExxonMobil  United States  Oil & Gas Operations     None     None   \n4              ICBC          China               Banking     None     None   \n\n   rev_2023 revenue_unit net_income_2021 net_income_2022  net_income_2023  \\\n0  115630.0          USD            None            None          11650.0   \n1  156780.0          USD            None            None          11030.0   \n2  150450.0          USD            None            None           6280.0   \n3  275560.0          USD            None            None          19280.0   \n4   71860.0          USD            None            None          16270.0   \n\n   ... gross_profit_2022 gross_profit_2023 employees_2021 employees_2022  \\\n0  ...              None              None           None           None   \n1  ...              None              None           None           None   \n2  ...              None              None           None           None   \n3  ...              None              None           None           None   \n4  ...              None              None           None           None   \n\n  employees_2023 market_cap_billion_usd_2021 market_cap_billion_usd_2022  \\\n0           None                        None                        None   \n1           None                        None                        None   \n2           None                        None                        None   \n3           None                        None                        None   \n4           None                        None                        None   \n\n  market_cap_billion_usd_2023     assets  rank_nr  \n0                    166190.0  2031990.0        1  \n1                    169650.0   781820.0        2  \n2                    167630.0  2223300.0        3  \n3                    308770.0   233320.0        4  \n4                    242230.0  1428460.0        5  \n\n[5 rows x 21 columns]","text/html":"<div>\n<style scoped>\n    .dataframe tbody tr th:only-of-type {\n        vertical-align: middle;\n    }\n\n    .dataframe tbody tr th {\n        vertical-align: top;\n    }\n\n    .dataframe thead th {\n        text-align: right;\n    }\n</style>\n<table border=\"1\" class=\"dataframe\">\n  <thead>\n    <tr style=\"text-align: right;\">\n      <th></th>\n      <th>company</th>\n      <th>country</th>\n      <th>industry</th>\n      <th>rev_2021</th>\n      <th>rev_2022</th>\n      <th>rev_2023</th>\n      <th>revenue_unit</th>\n      <th>net_income_2021</th>\n      <th>net_income_2022</th>\n      <th>net_income_2023</th>\n      <th>...</th>\n      <th>gross_profit_2022</th>\n      <th>gross_profit_2023</th>\n      <th>employees_2021</th>\n      <th>employees_2022</th>\n      <th>employees_2023</th>\n      <th>market_cap_billion_usd_2021</th>\n      <th>market_cap_billion_usd_2022</th>\n      <th>market_cap_billion_usd_2023</th>\n      <th>assets</th>\n      <th>rank_nr</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>JPMorgan Chase</td>\n      <td>United States</td>\n      <td>Banking</td>\n      <td>None</td>\n      <td>None</td>\n      <td>115630.0</td>\n      <td>USD</td>\n      <td>None</td>\n      <td>None</td>\n      <td>11650.0</td>\n      <td>...</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>166190.0</td>\n      <td>2031990.0</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>General Electric</td>\n      <td>United States</td>\n      <td>Conglomerates</td>\n      <td>None</td>\n      <td>None</td>\n      <td>156780.0</td>\n      <td>USD</td>\n      <td>None</td>\n      <td>None</td>\n      <td>11030.0</td>\n      <td>...</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>169650.0</td>\n      <td>781820.0</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Bank of America</td>\n      <td>United States</td>\n      <td>Banking</td>\n      <td>None</td>\n      <td>None</td>\n      <td>150450.0</td>\n      <td>USD</td>\n      <td>None</td>\n      <td>None</td>\n      <td>6280.0</td>\n      <td>...</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>167630.0</td>\n      <td>2223300.0</td>\n      <td>3</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>ExxonMobil</td>\n      <td>United States</td>\n      <td>Oil &amp; Gas Operations</td>\n      <td>None</td>\n      <td>None</td>\n      <td>275560.0</td>\n      <td>USD</td>\n      <td>None</td>\n      <td>None</td>\n      <td>19280.0</td>\n      <td>...</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>308770.0</td>\n      <td>233320.0</td>\n      <td>4</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>ICBC</td>\n      <td>China</td>\n      <td>Banking</td>\n      <td>None</td>\n      <td>None</td>\n      <td>71860.0</td>\n      <td>USD</td>\n      <td>None</td>\n      <td>None</td>\n      <td>16270.0</td>\n      <td>...</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>None</td>\n      <td>242230.0</td>\n      <td>1428460.0</td>\n      <td>5</td>\n    </tr>\n  </tbody>\n</table>\n<p>5 rows × 21 columns</p>\n</div>"},"metadata":{}}],"execution_count":57}]

NameError: name 'true' is not defined

In [61]:
import pandas as pd

# Load Forbes dataset
df = pd.read_excel("Forbes Global 2000 - 2010 — unified industry.xlsx")

# Take first 300 companies
df = df.head(300)

# Build Statista-style structure
cleaned = pd.DataFrame()

# Basic info
cleaned["company"] = df["Company"]
cleaned["country"] = df["Country"]
cleaned["industry"] = df["Industry"]

# Revenue
cleaned["rev_2021"] = None
cleaned["rev_2022"] = None
cleaned["rev_2023"] = df["Sales"]
cleaned["revenue_unit"] = "USD"

# Net income
cleaned["net_income_2021"] = None
cleaned["net_income_2022"] = None
cleaned["net_income_2023"] = df["Profits"]

# Gross profit (not in Forbes)
cleaned["gross_profit_2021"] = None
cleaned["gross_profit_2022"] = None
cleaned["gross_profit_2023"] = None

# Employees (not in Forbes)
cleaned["employees_2021"] = None
cleaned["employees_2022"] = None
cleaned["employees_2023"] = None

# Market cap
cleaned["market_cap_billion_usd_2021"] = None
cleaned["market_cap_billion_usd_2022"] = None
cleaned["market_cap_billion_usd_2023"] = df["Market_Value"]

# Extra KPIs
cleaned["assets"] = df["Assets"]
cleaned["rank_nr"] = df["Rank_nr"]

cleaned.head()

,company,country,industry,rev_2021,rev_2022,rev_2023,revenue_unit,net_income_2021,net_income_2022,net_income_2023,...,gross_profit_2022,gross_profit_2023,employees_2021,employees_2022,employees_2023,market_cap_billion_usd_2021,market_cap_billion_usd_2022,market_cap_billion_usd_2023,assets,rank_nr
0,JPMorgan Chase,United States,Banking,None,None,115630.0,USD,None,None,11650.0,...,None,None,None,None,None,None,None,166190.0,2031990.0,1
1,General Electric,United States,Conglomerates,None,None,156780.0,USD,None,None,11030.0,...,None,None,None,None,None,None,None,169650.0,781820.0,2
2,Bank of America,United States,Banking,None,None,150450.0,USD,None,None,6280.0,...,None,None,None,None,None,None,None,167630.0,2223300.0,3
3,ExxonMobil,United States,Oil & Gas Operations,None,None,275560.0,USD,None,None,19280.0,...,None,None,None,None,None,None,None,308770.0,233320.0,4
4,ICBC,China,Banking,None,None,71860.0,USD,None,None,16270.0,...,None,None,None,None,None,None,None,242230.0,1428460.0,5

In [62]:
mport pandas as pd

# Load Forbes dataset
df = pd.read_excel("Forbes Global 2000 - 2010 — unified industry.xlsx")

# Take first 300 companies
df = df.head(300)

# Build Statista-style structure
cleaned = pd.DataFrame()

# Basic info
cleaned["company"] = df["Company"]
cleaned["country"] = df["Country"]
cleaned["industry"] = df["Industry"]

# Revenue
cleaned["rev_2021"] = None
cleaned["rev_2022"] = None
cleaned["rev_2023"] = df["Sales"]
cleaned["revenue_unit"] = "USD"

# Net income
cleaned["net_income_2021"] = None
cleaned["net_income_2022"] = None
cleaned["net_income_2023"] = df["Profits"]

# Gross profit (not in Forbes)
cleaned["gross_profit_2021"] = None
cleaned["gross_profit_2022"] = None
cleaned["gross_profit_2023"] = None

# Employees (not in Forbes)
cleaned["employees_2021"] = None
cleaned["employees_2022"] = None
cleaned["employees_2023"] = None

# Market cap
cleaned["market_cap_billion_usd_2021"] = None
cleaned["market_cap_billion_usd_2022"] = None
cleaned["market_cap_billion_usd_2023"] = df["Market_Value"]

#  KPIs
cleaned["assets"] = df["Assets"]
cleaned["rank_nr"] = df["Rank_nr"]

cleaned.head()

SyntaxError: invalid syntax (1944872931.py, line 1)

In [63]:
import pandas as pd

df = pd.read_excel("Forbes Global 2000 - 2010 — unified industry.xlsx")
df.columns

Index(['Rank_nr', 'Company', 'Industry', 'Country', 'Sales', 'Profits',
       'Assets', 'Market_Value'],
      dtype='object')

In [64]:
import pandas as pd

# Load all 3 Forbes files
df20 = pd.read_excel("Forbes Global 2000 - 2020 — unified industry.xlsx")
df21 = pd.read_excel("Forbes Global 2000 - 2021 — unified industry.xlsx")
df22 = pd.read_excel("Forbes Global 2000 - 2022 — unified industry.xlsx")

# Select only necessary columns and rename for merging
def prep(df, year):
    temp = df.rename(columns={
        "Company": "company",
        "Country": "country",
        "Industry": "industry",
        "Sales": f"rev_{year}",
        "Profits": f"net_income_{year}",
        "Assets": f"assets_{year}",
        "Market_Value": f"market_cap_{year}"
    })
    return temp[["company","country","industry",
                 f"rev_{year}", f"net_income_{year}",
                 f"assets_{year}", f"market_cap_{year}"]]

df20c = prep(df20, 2020)
df21c = prep(df21, 2021)
df22c = prep(df22, 2022)

# MERGE on company name
merged = df20c.merge(df21c, on=["company","country","industry"], how="outer")
merged = merged.merge(df22c, on=["company","country","industry"], how="outer")

# Sort & take top 300 if needed
merged = merged.sort_values("company").reset_index(drop=True)
merged300 = merged.head(300)

merged300.head()

,company,country,industry,rev_2020,net_income_2020,assets_2020,market_cap_2020,rev_2021,net_income_2021,assets_2021,market_cap_2021,rev_2022,net_income_2022,assets_2022,market_cap_2022
0,360 Security Technology,China,IT Software & Services,1759.0,817.1,4724.0,17898.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3M,United States,Conglomerates,32348.0,4971.0,46212.0,87384.0,32184.0,5384.0,47344.0,115061.0,35355.0,5921.0,47072.0,84903.0
2,3i Group,United Kingdom,Diversified Financials,463.0,1641.8,11430.0,9576.0,157.0,903.4,12808.0,16749.0,331.0,3828.1,16616.0,16816.0
3,77 Bank,Japan,Banking,908.0,175.0,79344.0,998.0,942.0,165.3,91186.0,966.0,967.0,177.2,90271.0,921.0
4,A2A,Italy,Utilities,NaN,NaN,NaN,NaN,7601.0,415.0,14959.0,5810.0,13418.0,595.7,20479.0,5328.0

In [65]:
merged300["revenue_unit"] = "USD"

/var/folders/1p/yyv_wlk96tb6vs36fblhx81h0000gn/T/ipykernel_7383/3758653582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged300["revenue_unit"] = "USD"

In [66]:
merged300 = merged.head(300)

In [67]:
merged300["revenue_unit"] = "USD"

/var/folders/1p/yyv_wlk96tb6vs36fblhx81h0000gn/T/ipykernel_7383/3758653582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged300["revenue_unit"] = "USD"

In [68]:
merged300 = merged.head(300).copy()
merged300["revenue_unit"] = "USD"

In [69]:
merged300.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   company          300 non-null    object
 1   country          300 non-null    object
 2   industry         300 non-null    object
 3   rev_2020         250 non-null    float64
 4   net_income_2020  250 non-null    float64
 5   assets_2020      250 non-null    float64
 6   market_cap_2020  250 non-null    float64
 7   rev_2021         240 non-null    float64
 8   net_income_2021  240 non-null    float64
 9   assets_2021      239 non-null    float64
 10  market_cap_2021  240 non-null    float64
 11  rev_2022         249 non-null    float64
 12  net_income_2022  249 non-null    float64
 13  assets_2022      249 non-null    float64
 14  market_cap_2022  249 non-null    float64
 15  revenue_unit     300 non-null    object
dtypes: float64(12), object(4)
memory usage: 37.6+ KB

In [70]:
merged300.to_csv("forbes_financials_2020_2022_cleaned.csv", index=False)

ModuleNotFoundError: No module named 'pandas.io.formats.csvs'

In [71]:
pip uninstall -y pandas

zsh:1: no such file or directory: /Users/nourebid/Desktop/statista_case/venv/bin/python3
Note: you may need to restart the kernel to use updated packages.

In [72]:
merged300.to_excel("forbes_financials_2020_2022_cleaned.xlsx", index=False)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3550, in run_code
  File "/var/folders/1p/yyv_wlk96tb6vs36fblhx81h0000gn/T/ipykernel_7383/3157502629.py", line 1, in <module>
    merged300.to_excel("forbes_financials_2020_2022_cleaned.xlsx", index=False)
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/pandas/util/_decorators.py", line 333, in wrapper
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/pandas/core/generic.py", line 2426, in to_excel
ModuleNotFoundError: No module named 'pandas.io.formats.excel'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 2144, in showtraceback
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1435, in structured_traceback
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1326, in structured_traceback
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1173, in structured_traceback
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1063, in format_exception_as_a_whole
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1155, in get_records
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 780, in __init__
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/inspect.py", line 1006, in getsourcelines
    lines, lnum = findsource(object)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/inspect.py", line 835, in findsource
    raise OSError('could not get source code')
OSError: could not get source code

In [73]:
import pandas as pd

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 2000)

merged300

In [74]:
import pandas as pd

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 2000)

merged300

 in _handle_events
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/zmq/eventloop/zmqstream.py", line 629, in _handle_recv
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/zmq/eventloop/zmqstream.py", line 550, in _run_callback
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/ipykernel/iostream.py", line 170, in _handle_event
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/ipykernel/iostream.py", line 276, in <lambda>
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/ipykernel/iostream.py", line 287, in _really_send
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/zmq/sugar/socket.py", line 751, in send_multipart
  File "/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/zmq/sugar/socket.py", line 698, in send
  File "zmq/backend/cython/_zmq.py", line 1152, in zmq.backend.cython._zmq.Socket.send
  File "zmq/backend/cython/_zmq.py", line 1215, in zmq.backend.cython._zmq.Socket.send
  File "zmq/backend/cython/_zmq.py", line 355, in zmq.backend.cython._zmq.Frame.__init__
ModuleNotFoundError: No module named 'zmq.utils.garbage'

In [75]:
!pip install reportlab

zsh:1: command not found: pip

In [76]:
pip3 install reportlab

SyntaxError: invalid syntax (852301638.py, line 1)

In [77]:
wwhich pip

SyntaxError: invalid syntax (3452955321.py, line 1)

In [78]:
which python

SyntaxError: invalid syntax (1817364949.py, line 1)

In [79]:
cd ~/Desktop/statista_case

/Users/nourebid/Desktop/statista_case

/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/IPython/core/magics/osm.py:393: UserWarning: using bookmarks requires you to install the `pickleshare` library.
/Users/nourebid/Desktop/statista_case/venv/lib/python3.9/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.

In [80]:
ls ~/Desktop/statista_case

Forbes Global 2000 - 2020 — unified industry.xlsx
Forbes Global 2000 - 2021 — unified industry.xlsx
Forbes Global 2000 - 2022 — unified industry.xlsx
aroissues-forbes-global-2000-2008-2019/
statista_case.ipynb

In [81]:
cd ~/Desktop/statista_case

SyntaxError: invalid syntax (3075452337.py, line 1)

In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in ./venv/lib/python3.9/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in ./venv/lib/python3.9/site-packages (from openpyxl) (2.0.0)
WARNING: You are using pip version 21.2.4; however, version 25.3 is available.
You should consider upgrading via the '/Users/nourebid/Desktop/statista_case/venv/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
merged300.to_excel("forbes_financials_2020_2022_cleaned.xlsx", index=False)

NameError: name 'merged300' is not defined